.sidebar {
    width: 220px;
    min-height: 100vh;
    background: var(--white);
}

.sidebar div {
    margin: 26px 27px 0 30px;
    display: flex;         
    align-items: center;
    gap: 12px;
}

.sidebar div p {
    font-size: 16px;
}

.sidebarItem {
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s;
}

.sidebarItem:hover {
    background-color: #f0f0f0; /* Cor de hover */
}

/* Estilo para o item ativo */
.sidebarItem.active {
    background-color: #e0e0e0;
    font-weight: bold;
}