.dashboard {
    width: 1184px;
}

.boxes {
    display: flex;
}

.box {
    width: 362px;
    height: 140px;
    background-color: var(--white);
    border-radius: 10px;
    margin: 40px;
}

.bigbox {
    width: 1108px;
    height: 224px;
    background-color: var(--white);
    border-radius: 10px;
    margin: 40px;
}

.twoboxes {
    width: 1108px;
    height: 224px;
    background-color: var(--white);
    border-radius: 10px;
    margin: 42px;
}